@model IEnumerable<WebBarangBukti.Models.HdTransaksi>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Managemen Aplikasi</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Data Transaksi</a></li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                  @*   @await Html.PartialAsync("_MenuSettings") *@
                </div>
                <!-- /.col -->

                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header p-2">
                            <button type="button" class="btn btn-siram ml-3" onclick="modalAddTransaksi();">Tambah Transaksi</button>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="example1_info">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nama Transaksi</th>
                                        <th>Judul Transaksi</th>
                                        <th>Jenis Transaksi</th>
                                        <th>No Perkara</th>
                                        <th>PIC</th>
                                        <th>Tanggal Transaksi</th>
                                        <th>Tanggal Buat</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="odd">
                                            <td class="dtr-control sorting_1" tabindex="0">@item.Id</td>
                                            <td>@item.NamaTransaksi</td>
                                            <td>@item.JudulTransaksi</td>
                                            <td>@item.JenisTransaksi</td>
                                            <td>@item.NoPerkara</td>
                                            <td>@item.Pic</td>
                                            <td>@Convert.ToDateTime(item.TanggalTransaksi).ToString("yyyy-MM-dd")</td>
                                            <td>@Convert.ToDateTime(item.CreateAt).ToString("yyyy-MM-dd HH:mm:ss")</td>
                                          
                                            <td class="text-center">
                                                <a class="btn btn-warning" title="Edit" type="button" onclick="editTransaksi('@item.Id','@item.IdTransaksi','@item.NamaTransaksi','@item.JudulTransaksi','@item.JenisTransaksi','@item.NoPerkara','@item.Pic')">
                                                    <i class="fa fa-edit" aria-hidden="false"></i>
                                                </a>
                                                <a class="btn btn-warning" title="Detail" type="button" onclick="detailTransaksi('@item.IdTransaksi')">
                                                    <i class="fa fa-edit" aria-hidden="false"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <!-- Modal -->
    <div class="modal fade" id="CreateTransaksi">
        <div class="modal-dialog modal-lg">
            <form asp-controller="HdTransaksi" asp-action="CreateTransaksi" method="post" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create Transaksi</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="input-document_type_name" class="col-sm-2 col-form-label">Nama Transaksi</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="NamaTransaksi" name="NamaTransaksi" placeholder="Nama Transaksi" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-2 col-form-label">Judul Transaksi</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="JudulTransaksi" name="JudulTransaksi" placeholder="Judul Transaksi" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="status" class="col-sm-2 col-form-label">Jenis Transaksi</label>
                            <div class="col-sm-10">
                                <select id="JenisTransaksi" name="JenisTransaksi" asp-items="(IEnumerable<SelectListItem>)@ViewBag.JenisTrans" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-2 col-form-label">No Perkara</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="NoPerkara" name="NoPerkara" placeholder="No Perkara" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-2 col-form-label">PIC</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Pic" name="Pic" placeholder="PIC">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-2 col-form-label">Tanggal Transaksi</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="TanggalTransaksi" name="TanggalTransaksi">
                            </div>
                        </div>
                        <dl>
                            <dt>
                                <label for="filename"></label>
                            </dt>
                            <dd>
                                <input type="file" name="files" multiple required>
                                <span for="FileUpload FormFile"></span>
                            </dd>
                        </dl>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-siram ml-3">Save</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </form>
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- Modal -->
    <div class="modal fade" id="UpdateTransaksi">
        <div class="modal-dialog modal-lg">
            <form asp-controller="HdTransaksi" asp-action="UpdateTransaksi" method="post" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Update Transaksi</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" class="form-control" id="Id" name="Id">
                        <input type="hidden" class="form-control" id="IdTransaksi" name="IdTransaksi">

                        <div class="form-group row">
                            <label for="input-document_type_name" class="col-sm-2 col-form-label">Nama Transaksi</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="NamaTransaksi" name="NamaTransaksi" placeholder="Nama Transaksi" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-2 col-form-label">Judul Transaksi</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="JudulTransaksi" name="JudulTransaksi" placeholder="Judul Transaksi" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="status" class="col-sm-2 col-form-label">Jenis Transaksi</label>
                            <div class="col-sm-10">
                                <select id="JenisTransaksi" name="JenisTransaksi" asp-items="(IEnumerable<SelectListItem>)@ViewBag.JenisTrans" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-2 col-form-label">No Perkara</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="NoPerkara" name="NoPerkara" placeholder="No Perkara" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-2 col-form-label">PIC</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Pic" name="Pic" placeholder="PIC">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-2 col-form-label">Tanggal Transaksi</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="TanggalTransaksi" name="TanggalTransaksi">
                            </div>
                        </div>
                        <dl>
                            <dt>
                                <label for="filename"></label>
                            </dt>
                            <dd>
                                <input type="file" name="files" multiple required>
                                <span for="FileUpload FormFile"></span>
                            </dd>
                        </dl>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-siram ml-3">Save</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </form>
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.content-wrapper -->

<link href="~/content/select2.min.css" rel="stylesheet">
<script src="~/content/select2.min.js"></script>

<link href="~/content/select2/select2-bootstrap.css" rel="stylesheet">
<link href="~/content/select2/select2.min.css" rel="stylesheet">
<script src="~/content/select2/select2.full.js"></script>

<script>

    function modalAddTransaksi() {

    }

    function editTransaksi(id, idTransaksi, namaTransaksi, judulTransaksi, jenisTransaksi, noPerkara, pic) {

    }

    function detailTransaksi(idTransaksi) {

    }
</script>
