@model IEnumerable<WebBarangBukti.Models.HdBarangBukti>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Data Barang Bukti</a></li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    @await Html.PartialAsync("_MenuSettings")
                </div>
                <!-- /.col -->

                <div class="col-md-10">
                    <div class="card">

                        <div class="card-header p-2">
                            <button type="button" class="btn btn-siram ml-3" onclick="modalAddBarangBukti();">Tambah Barang Bukti</button>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <table id="tblBarangBukti" class="table table-bordered table-striped" aria-describedby="example1_info" style="overflow-x:auto;">
                                <thead>
                                    <tr>
                                        <th>Aksi</th>
                                        <th>Nama Barang Bukti</th>
                                        <th>No. Registrasi</th>
                                        <th>No Perkara</th>
                                        <th>Instansi</th>
                                        <th>Tgl. Penyerahan</th>
                                        <th>Disita Dari</th>
                                        <th>No. BAP Penyitaan</th>
                                        <th>Tempat Penyitaan</th>
                                        <th>No. Sprint Penyitaan</th>
                                        <th>Keterangan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            string tglWaktuPenyerahan = "";
                                            if (item.TanggalWaktuPenyerahan != null) {
                                                tglWaktuPenyerahan = Convert.ToDateTime(item.TanggalWaktuPenyerahan).ToString("yyyy-MM-dd");
                                            }
                                                            
                                            <tr class="odd">
                                                <td class="text-center">
                                                    <a class="btn btn-warning" title="Edit" type="button" onclick="editBarangBukti('@item.Id','@item.IdHdBarangBukti','@item.Nama','@item.NoRegistrasi','@tglWaktuPenyerahan','@item.NoPerkara','@item.Instansi','@item.DisitaDari','@item.NoBapPenyitaan','@item.TempatPenyitaan','@item.NomorSprintPenyitaan','@item.Keterangan')">
                                                        <i class="fa fa-edit" aria-hidden="false"></i>
                                                    </a>
                                                    <a class="btn btn-primary" title="Detail" type="button" onclick="detailBarangBukti('@item.IdHdBarangBukti')">
                                                        <i class="fa fa-book" aria-hidden="false"></i>
                                                    </a>
                                                </td>
                                                <td>@item.Nama</td>
                                                <td>@item.NoRegistrasi</td>
                                                <td>@item.NoPerkara</td>
                                                <td>@item.Instansi</td>
                                                <td>@tglWaktuPenyerahan</td>
                                                <td>@item.DisitaDari</td>
                                                <td>@item.NoBapPenyitaan</td>
                                                <td>@item.TempatPenyitaan</td>
                                                <td>@item.NomorSprintPenyitaan</td>
                                                <td>@item.Keterangan</td>

                                             
                                            </tr>
                                        }
                                    }
                                   
                                </tbody>

                            </table>

                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <!-- Modal -->
    <div class="modal fade" id="CreateBarangBukti">
        <div class="modal-dialog modal-lg">
            <form asp-controller="HdBarangBukti" asp-action="CreateBarangBukti" method="post" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Tambah Barang Bukti</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="input-document_type_name" class="col-sm-4 col-form-label">Nama Barang Bukti</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Nama" name="Nama" placeholder="Nama Barang Bukti" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-4 col-form-label">No. Registrasi</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="NoRegistrasi" name="NoRegistrasi" placeholder="No Registrasi">
                            </div>
                        </div>
                       
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-4 col-form-label">No. Perkara</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="NoPerkara" name="NoPerkara" placeholder="No Perkara">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-4 col-form-label">Tanggal Waktu Penyerahan</label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control" id="TanggalWaktuPenyerahan" name="TanggalWaktuPenyerahan">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-4 col-form-label">Instansi</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Instansi" name="Instansi" placeholder="Instansi">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-4 col-form-label">File</label>
                            <div class="col-sm-8">
                                <input type="file" name="files">
                                <span for="FileUpload FormFile"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-4 col-form-label">Disita Dari</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="DisitaDari" name="DisitaDari" placeholder="Disita Dari" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-4 col-form-label">No. BAP Penyitaan</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="NoBapPenyitaan" name="NoBapPenyitaan" placeholder="No BAP Penyitaan">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-4 col-form-label">Tempat Penyitaan</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="TempatPenyitaan" name="TempatPenyitaan" placeholder="Tempat Penyitaan">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-4 col-form-label">No. Sprint Penyitaan</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="NomorSprintPenyitaan" name="NomorSprintPenyitaan" placeholder="No Sprint Penyitaan">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-4 col-form-label">Keterangan</label>
                            <div class="col-sm-8">
                                <textarea type="text" class="form-control" id="Keterangan" name="Keterangan" placeholder="" style="height: 80px; width: 510px;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-siram ml-3">Save</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </form>
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- Modal -->
    <div class="modal fade" id="UpdateBarangBukti">
        <div class="modal-dialog modal-lg">
            <form asp-controller="HdBarangBukti" asp-action="UpdateBarangBukti" method="post" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Barang Bukti</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" class="form-control" id="Id" name="Id">
                        <input type="hidden" class="form-control" id="IdHdBarangBukti" name="IdHdBarangBukti">
                        <div class="form-group row">
                            <label for="input-document_type_name" class="col-sm-4 col-form-label">Nama Barang Bukti</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Nama1" name="Nama" placeholder="Nama Barang Bukti" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-4 col-form-label">No Registrasi</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="NoRegistrasi1" name="NoRegistrasi" placeholder="No Registrasi">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="input-description" class="col-sm-4 col-form-label">No Perkara</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="NoPerkara1" name="NoPerkara" placeholder="No Perkara">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-4 col-form-label">Tanggal Waktu Penyerahan</label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control" id="TanggalWaktuPenyerahan1" name="TanggalWaktuPenyerahan">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-4 col-form-label">Instansi</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Instansi1" name="Instansi" placeholder="Instansi">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-4 col-form-label">File</label>
                            <div class="col-sm-8">
                                <input type="file" name="files">
                                <span for="FileUpload FormFile"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-4 col-form-label">Disita Dari</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="DisitaDari1" name="DisitaDari" placeholder="Disita Dari" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-4 col-form-label">No BAP Penyitaan</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="NoBapPenyitaan1" name="NoBapPenyitaan" placeholder="No BAP Penyitaan">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-4 col-form-label">Tempat Penyitaan</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="TempatPenyitaan1" name="TempatPenyitaan" placeholder="Tempat Penyitaan">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-4 col-form-label">No Sprint Penyitaan</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="NomorSprintPenyitaan1" name="NomorSprintPenyitaan" placeholder="No Sprint Penyitaan">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-description" class="col-sm-4 col-form-label">Keterangan</label>
                            <div class="col-sm-8">
                                <textarea type="text" class="form-control" id="Keterangan1" name="Keterangan" placeholder="" style="height: 80px; width: 510px;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-siram ml-3">Update</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </form>
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.content-wrapper -->

<link href="~/content/select2.min.css" rel="stylesheet">
<script src="~/content/select2.min.js"></script>

<link href="~/content/select2/select2-bootstrap.css" rel="stylesheet">
<link href="~/content/select2/select2.min.css" rel="stylesheet">
<script src="~/content/select2/select2.full.js"></script>

<link href="~/adminlte/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet">
<script src="~/adminlte/plugins/sweetalert2/sweetalert2.min.js"></script>

<script>

    $(function() {
        $("#tblBarangBukti").DataTable({

              "responsive": true, 
              "lengthChange": true, 
              "autoWidth": true, 
              "scrollX": true,
              "sScrollXInner": "170%",
              "fixedHeader": true,
              columnDefs: [
                      {
                           width: 120,
                           targets: [0],
                           className: 'text-center'

                      },
                      {
                          autoWidth: true,
                          targets: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                          className: 'text-center'

                      }
               ],
              "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        });

        var messageSuccess = '@TempData["MessageSuccessBarangBukti"]';
        var messageError = '@TempData["MessageErrorBarangBukti"]';
         
        if(messageSuccess != null && messageSuccess != "") {
                Swal.fire({
                    title: "Data Barang Bukti",
                    text: messageSuccess,
                    icon: "success"
                });

              
        }

        if(messageError != null && messageError != "") {
                Swal.fire({
                    title: "Data Barang Bukti",
                    text: messageError,
                    icon: "warning"
                });

        }
    });

    function modalAddBarangBukti() {

        $('#CreateBarangBukti').modal({
            backdrop: 'static',
            keyboard: false
        });
        $('#CreateBarangBukti').modal('show');

    }

    function editBarangBukti(id, idHdBarangBukti, nama, noRegistrasi, tglWaktuPenyerahan, noPerkara, instansi, disitaDari, noBapPenyitaan, tempatPenyitaan, noSprintPenyitaan, keterangan) {

        document.getElementById("Id").value = id;
        document.getElementById("IdHdBarangBukti").value = idHdBarangBukti;
        document.getElementById("Nama1").value = nama;
        document.getElementById("NoRegistrasi1").value = noRegistrasi;
        document.getElementById("TanggalWaktuPenyerahan1").value = tglWaktuPenyerahan;
        document.getElementById("NoPerkara1").value = noPerkara;
        document.getElementById("Instansi1").value = instansi;
        document.getElementById("DisitaDari1").value = disitaDari;
        document.getElementById("NoBapPenyitaan1").value = noBapPenyitaan;
        document.getElementById("TempatPenyitaan1").value = tempatPenyitaan;
        document.getElementById("NomorSprintPenyitaan1").value = noSprintPenyitaan;
        document.getElementById("Keterangan1").value = keterangan;

        $('#UpdateBarangBukti').modal({
            backdrop: 'static',
            keyboard: false
        });
        $('#UpdateBarangBukti').modal('show');
    }

    function detailBarangBukti(idHdBarangBukti) {
        var actionUrl = '@Url.Action("DetailBarangBukti", "HdBarangBukti", new { IdHdBarangBukti = "PLACEHOLDER1" })';
        actionUrl = actionUrl.replace('PLACEHOLDER1', idHdBarangBukti);
        // window.open(actionUrl);
        window.location.href = actionUrl;
    }
</script>
